@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..800&display=swap');

* {
    font-family: 'Onest', sans-serif;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

*::-webkit-scrollbar-track:active {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #2563EB;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #2563EB;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #2563EB;
}

@tailwind base;
@tailwind components;
@tailwind utilities;